.personal-info {
  background: #393b3fa6 !important;
  border-radius: 7px !important;
  border: 1px solid white !important;
  box-shadow: 0px 0px 1px 0px white !important;
  color: white !important;
  width: 100% !important;
}

.personal-info > .content > .header {
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
  color: white !important;
}

.personal-info > .content > .header > small {
  font-size: 12px !important;
  font-weight: 600 !important;
  font-style: italic;
}

.employee-des {
  background: #393b3fa6 !important;
  border-radius: 7px !important;
  border: 1px solid white !important;
  box-shadow: 0px 0px 1px 0px white !important;
  color: white !important;
  width: 100% !important;
}

.employee-des > .content > .header {
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
  color: white !important;
}

.employee-des > .content > .header > small {
  font-size: 12px !important;
  font-weight: 600 !important;
  font-style: italic;
}

.certification-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.skill-height-container {
  max-height: 36rem !important;
  overflow: auto;
}
