.add-button {
  float: right;
  height: 40px;
  width: 40px;
  display: grid;
  justify-items: center;
  align-items: center;
  border: 2px solid rgb(255, 255, 255);
  background-color: #393b3fa6;
  border-radius: 50%;
  box-shadow: inset 0px 0px 10px #c5c6c7;
  cursor: pointer;
}

.add-button:hover {
  transform: scale(1.1, 1.1);
  box-shadow: inset 0px 0px 20px white;
}

.edit-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.delete-button-visiblility {
  margin-left: 10px;
  color: white;
  cursor: pointer;
}

.delete-button-visiblility:hover {
  transform: scale(1.1, 1.1);
}

.endorsement-req-button {
  border: 1px solid white;
  border-radius: 7px;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
  cursor: pointer;
}

.endorsement-req-button:hover {
  transform: scale(1.02, 1.02);
}

.sidechat-container {
  margin-top: 2rem;
  margin-left: 1rem;
}

.notifications {
  background: rgba(31, 30, 30, 0.581);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  margin-top: 40px;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: inset 0 0 3px 0 white;
}

.sidechat-body {
  overflow: auto !important;
}

.notification-sidechat {
  color: white !important;
}

.notification-sidechat-subheading {
  color: #c5c6c7 !important;
}

.header-row > th {
  border-bottom: 1px solid white !important;
}

.row-cell-container {
  cursor: pointer;
}

.header-row-cell {
  border-bottom: 1px solid #c5c6c7 !important;
}

.row-cell-container :hover {
  transform: scale(1.01, 1.01);
  background: rgba(31, 30, 30, 0.1);
}
