.design-chat-input > input {
  background: rgba(31, 30, 30, 0.581) !important;
  border: 1px solid white !important;
  box-shadow: inset 0 0 3px #c5c6c7 !important;
  color: white !important;
}

.design-chat-input > button {
  background: rgba(31, 30, 30, 0.581) !important;
  color: white !important;
  border: 1px solid white !important;
  box-shadow: inset 0 0 8px #c5c6c7 !important;
}

.design-chat-input > button:hover {
  box-shadow: inset 0 0 15px #c5c6c7 !important;
  transform: scale(1.03, 1.03);
}
