.modal-des {
  background: #1e2022ea !important;
  border-radius: 10px !important;
  color: #c5c6c7 !important;
  border: 1px solid white !important;
  box-shadow: 0px 0px 3px 0px white !important;
}

.modal-heading {
  background: #1e2022ea !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  font-family: "Arvo", serif !important;
  color: white !important;
  font-size: 2rem !important;
  font-weight: 500 !important;
  width: 100% !important;
  text-align: center;
}

.modal-content {
  background: #1e2022ea !important;
}

.modal-actions {
  background: #1e2022ea !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.horizontal-line {
  border: none;
  border-top: 2px solid white;
}

.form-inputs > input {
  border-radius: 7px !important;
  background: #1e2022ea !important;
  border: 1px solid white !important;
  box-shadow: 0px 0px 1px 0px white !important;
  color: white !important;
}

.form-inputs > input::placeholder {
  color: white !important;
  opacity: 0.7;
}

.form-inputs > input::selection {
  color: white !important;
}

.form-inputs > input:focus {
  box-shadow: 0px 0px 2px 0px white !important;
}

.button-css {
  border-radius: 10px !important;
  color: white !important;
  background: #1e2022ea !important;
  border: 2px solid white !important;
  box-shadow: 0px 0px 2px 0px white !important;
  text-align: center;
}

.button-css:hover {
  background: white !important;
  color: #1e2022ea !important;
}

.close-button {
  border-radius: 10px !important;
  color: #c5c6c7 !important;
  background: #1e2022ea !important;
  border: 2px solid #c5c6c7 !important;
  box-shadow: 0px 0px 1px 0px #c5c6c7 !important;
  text-align: center;
}

.close-button:hover {
  background: #c5c6c7 !important;
  color: #1e2022ea !important;
}

.pos-middle-qr {
  text-align: center;
}

.design-info-table {
  background: #1e2022ea !important;
  border: 1px solid white !important;
  padding: 5px;
  color: white !important;
  box-shadow: inset 0 0 3px white !important;
}
