.searchbar > .results > .result > .content > .title {
  float: right !important;
  font-weight: 400 !important;
}

.search-ele {
  color: black;
}

.search-ele > div:nth-child(1) > span {
  display: block;
}

.search-ele > small {
  display: block;
}

.ui.selection.dropdown {
  border-radius: 7px !important;
  background: #1e2022ea !important;
  border: 1px solid white !important;
  box-shadow: 0px 0px 1px 0px white !important;
  color: white !important;
}

.ui.default.dropdown:not(.button) > .text,
.ui.dropdown:not(.button) > .default.text {
  color: white !important;
}

.ui.selection.active.dropdown .menu {
  background: #1e2022ea !important;
  color: white !important;
  border-bottom-left-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
  box-shadow: 0px 0px 1px 0px white !important;
}

.ui.selection.dropdown .menu > .item {
  color: white !important;
  border-top: 1px solid white !important;
}

.ui.dropdown .menu .selected.item,
.ui.dropdown.selected {
  color: #1e2022ea !important;
  background: white !important;
}

.ui.selection.visible.dropdown > .text:not(.default) {
  color: white !important;
}

.visible .menu .transition > .selected .item > .text {
  color: white !important;
}
