.create-user {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin-top: 40px;
}

.card-style {
  background: #1e2022ea !important;
  border-radius: 7px !important;
  color: #c5c6c7 !important;
  min-width: 360px;
  border: 1px solid white !important;
  box-shadow: 0px 0px 2px 0px white !important;
}

.card-heading {
  font-family: "Arvo", serif !important;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.horizontal-line {
  border: none;
  border-top: 2px solid white;
}

.form-inputs-admin > input {
  border-radius: 7px !important;
  background: #1e2022ea !important;
  border: 1px solid white !important;
  box-shadow: 0px 0px 1px 0px white !important;
  color: white !important;
}

.form-inputs-admin > input::placeholder {
  color: white !important;
  opacity: 0.7;
}

.form-inputs-admin > input::selection {
  color: white !important;
}

.form-inputs-admin > input:focus {
  box-shadow: 0px 0px 2px 0px white !important;
}

.ui.selection.dropdown {
  border-radius: 7px !important;
  background: #1e2022ea !important;
  border: 1px solid white !important;
  box-shadow: 0px 0px 1px 0px white !important;
  color: white !important;
}

.ui.default.dropdown:not(.button) > .text,
.ui.dropdown:not(.button) > .default.text {
  color: white !important;
}

.ui.selection.active.dropdown .menu {
  background: #1e2022ea !important;
  color: white !important;
  border-bottom-left-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
  box-shadow: 0px 0px 1px 0px white !important;
}

.ui.selection.dropdown .menu > .item {
  color: white !important;
  border-top: 1px solid white !important;
}

.ui.dropdown .menu .selected.item,
.ui.dropdown.selected {
  color: #1e2022ea !important;
  background: white !important;
}

.ui.selection.visible.dropdown > .text:not(.default) {
  color: white !important;
}

.button-holder {
  text-align: center;
}

.button-css-admin {
  border-radius: 10px !important;
  color: white !important;
  background: #1e2022ea !important;
  border: 2px solid white !important;
  box-shadow: 0px 0px 2px 0px white !important;
  text-align: center;
}

.button-css-admin:hover {
  background: white !important;
  color: #1e2022ea !important;
}

.sidechat-container {
  margin-top: 2rem;
  margin-left: 1rem;
}

.notifications {
  background: rgba(31, 30, 30, 0.581);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  margin-top: 40px;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: inset 0 0 3px 0 white;
}

.sidechat-body {
  overflow: auto !important;
}

.notification-sidechat {
  color: white !important;
}

.notification-sidechat-subheading {
  color: #c5c6c7 !important;
}

.header-row > th {
  border-bottom: 1px solid white !important;
}

.row-cell-container {
  cursor: pointer;
}

.header-row-cell {
  border-bottom: 1px solid #c5c6c7 !important;
}

.row-cell-container :hover {
  transform: scale(1.01, 1.01);
  background: rgba(31, 30, 30, 0.1);
}
